name: Build images and add to ghcr.io upon release
on:
  release:
    types:
      - published

jobs:
  webservice_image:
    name: Push webservice image to ghcr.io
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4.0.0

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: webservice-meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            name=ghcr.io/belastingdienst/webservice,enable=true
          tags: |
            type=semver,pattern={{raw}}
            type=raw,value=latest
            type=sha

      - name: Build and push webservice image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: 'linux/amd64,linux/arm64'
          tags: ${{ steps.webservice-meta.outputs.tags }}
          labels: ${{ steps.webservice-meta.outputs.labels }}
          build-args: VERSION=${{ github.ref_name }}

      - name: Generate webservice image SBOM
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          image-ref: 'ghcr.io/belastingdienst/webservice'
          scan-type: image
          format: 'github'
          output: 'webservice_image.sbom.json'
          github-pat: ${{ secrets.GITHUB_TOKEN }}
          severity: 'MEDIUM,HIGH,CRITICAL'
          scanners: 'vuln'
        env:
          TRIVY_SKIP_DB_UPDATE: true
          TRIVY_SKIP_JAVA_DB_UPDATE: true

      - name: Add SBOM to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: '${{ github.workspace }}/webservice_image.sbom.json'
